@dark: #BBBBBB;
@light: #FFFFFF;
.hover {
    box-shadow: inset 0 0 10px 3px #00FF00;
}

@darkblue: #88AACC;
@lightblue: #AADDEE;
.hoverBlue {
    box-shadow: inset 0 0 10px 3px #FF0000;
}

@darkred: #EE7777;
@lightred: #FFAA99;
.hoverRed {
    box-shadow: inset 0 0 10px 3px #0000FF;
}

.auto-margin {
    margin: 0 auto;
}

.border {
    border: 1px solid #777;
}

.center {
    text-align: center;
}

h1 {
    .center;
    margin: 10px 0;
}
h3, p {
    .center;
}

#playerTurn {
    font-weight: bold;
}

#colour-selector {
    .center;
    width: 100%;
    margin: 20px 0;

    .btn {
        width: 100px;
    }
}

#container {
    width: 418px;
    margin: 0 auto;
}

#movelist {
    float: left;
    width: 250px;

    ol {
        height: 350px;
        overflow: auto;
        list-style-position: inside
    }
}

.fifty-fifty {
    width: 50px;
    height: 50px;
}

#board {
    float: left;

    width: 416px;
    height: 416px;

    .auto-margin;

    .border;

    div.separator {
        .fifty-fifty;
        float: left;

        .border;
    }

    div.col {
        .fifty-fifty;

        position: relative;

        &.hover {
            .hoverBlue;
        }
        &.hover-black {
            .hoverRed;
        }

        &.highlight {
            box-shadow: inset 0 0 3px 3px #00FF00;
        }

        &.phantom {
            opacity: 0.7;

            &.black {
                &.pawn {
                    background-image: url(../img/blackPawn.png) !important;
                }
                &.rook {
                    background-image: url(../img/blackRook.png) !important;
                }
                &.knight {
                    background-image: url(../img/blackKnight.png) !important;
                }
                &.bishop {
                    background-image: url(../img/blackBishop.png) !important;
                }
                &.queen {
                    background-image: url(../img/blackQueen.png) !important;
                }
                &.king {
                    background-image: url(../img/blackKing.png) !important;
                }
            }

            &.white {
                &.pawn {
                    background-image: url(../img/whitePawn.png) !important;
                }
                &.rook {
                    background-image: url(../img/whiteRook.png) !important;
                }
                &.knight {
                    background-image: url(../img/whiteKnight.png) !important;
                }
                &.bishop {
                    background-image: url(../img/whiteBishop.png) !important;
                }
                &.queen {
                    background-image: url(../img/whiteQueen.png) !important;
                }
                &.king {
                    background-image: url(../img/whiteKing.png) !important;
                }
            }
        }
    }
    
    div.row {
        float: left;

        .auto-margin;

        &.odd {
            .col.odd {
                background: @dark;
            }
            .col.even {
                background: @light;
            }
        }
        &.even {
            .col.even {
                background: @dark;
            }
            .col.odd {
                background: @light;
            }
        }        
    }
}

#board.blue {
    div.col.hover {
        .hoverBlue;
    }
    div.col.hover-black {
        .hoverRed;
    }
    div.row {
        float: left;

        .auto-margin;

        &.odd {
            .col.odd {
                background: @darkblue;
            }
            .col.even {
                background: @lightblue;
            }
        }
        &.even {
            .col.even {
                background: @darkblue;
            }
            .col.odd {
                background: @lightblue;
            }
        }        
    }      
}

#board.red {
    div.col.hover {
        .hoverBlue;
    }
    div.col.hover-black {
        .hoverRed;
    }
    div.row {
        float: left;

        .auto-margin;

        &.odd {
            .col.odd {
                background: @darkred;
            }
            .col.even {
                background: @lightred;
            }
        }
        &.even {
            .col.even {
                background: @darkred;
            }
            .col.odd {
                background: @lightred;
            }
        }        
    }      
}